nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 2rem;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    border-bottom: solid 2px var(--secondary-color);
    opacity: 0.9;
    background-color: var(--primary-color);
}

img {
    width: 50px;
    height: 50px;
}

.logo1 {
    margin-left: 100px;
}

.logo2 {
    margin-right: 100px;
}

ul {
    display: flex;
}

li {
    margin: 0 20px;
    font-size: 24px;
}

.nav-item {
    color: whitesmoke;
}
.nav-item :hover {
    color: black;
    transition: ease-in-out .25s;
}